<h1>dashboard</h1>
<ul>
  <li><a href="/category">category / list</a></li>
  <li><a href="/category/create">category / create</a></li>
  <li><a href="/category/1">category / detail</a></li>
  <li><a href="/category/1/edit">category / edit</a></li>
  <li><a href="/item">item / list</a></li>
  <li><a href="/item/create">item / create</a></li>
  <li><a href="/item/1">item / detail</a></li>
  <li><a href="/item/1/edit">item / edit</a></li>
</ul>
